

.header 
{
    text-align: center;
    height: 300px;
    padding-top: 100px;

}


.header2
{
    text-align: center;
    background-color: gray;

}

/*ARREGLA EL PROBLEMA DEL SCROLL BAR EN HORIZONTAL DE BOOTSTRAP.*/
.row {
    margin-left: 0px;
    margin-right: 0px;
}




/*AVERIGUAR LO DE POSITION*/
#particles-js {
    background-image: url("../img/Website-Design-Background-1.jpg");
    background-size:     cover;   
    background-repeat:   no-repeat;
    background-position: center center;
    position: relative;
    width: 100%;
    height: 350px;
  }
  
  #overlay {
    position: absolute;
    text-align: center;
    width: 100%;
    padding-top: 100px;
    margin-top: 50px;
  }

  @font-face {
    font-family: 'providence-bold';
  src: url('../Elementos/Comfortaa_Regular.ttf');
  }
    
  #overlay h1,p{
    color: white;
    font-family: providence-bold;
  }


  #subtitulo,#proyectos,#skills,#contacto
  {
    font-size: 20px;
  }

  #ajax
  {
    background-color: red;
    width: 100%;
    height: 100px;
  }


  .navegacion
  {
    position: absolute;
    text-align: center;
    width: 100%;
  }

  .navegacion p
  {
    margin:0;
    padding-top: 20px;
    display:inline-block;
  }

.sobreMi,.habilidades,.contacto,.otherSkills,.proyectos
{
  text-align: center;
  margin-top: 90px;
}

  .sobreMi h4,.habilidades h4,.otherSkills h4,.contacto h4,.proyectos h4
  {
    color: rgb(41, 39, 39);
    font-size: 30px;
    font-family: providence-bold;
    display: inline-block;
    /*SUBRAYADO*/
    padding-bottom: 4px; 
    border-bottom-style: solid; 
    border-color: rgb(41, 37, 44);
 }

  .sobreMi p
  {
    color: rgb(41, 39, 39);
    font-size: 20px;
    font-family: providence-bold;
  }
  
  .footer
  {
    width: 100%;
    height: 65px;
    background-color: black;
    text-align: center;
    margin-top: 40px;
  }

  .footer p
  {
    padding-top: 12px;
    font-size: 20px;
    font-family: providence-bold;
  }

  .habilidades img,.otherSkills img
  {
    height: 100px;
    width: 100px;
    margin-top: 30px;

  }

  .habilidades div
  {
    display: block
  }

  .contacto img
  {
    height: 60px;
    width: 60px;
    margin-left: 30px;
    margin-top: 30px;
    transition: transform .2s; /* Animation */
  }

  .contacto img:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

  .proyectos div
  {
    display: inline-block;

  }
 
  .proyecto_1
  {
    border-style: solid; 
    border-width: 1px;

    border-color: black;
    box-shadow: 3px 4px #888888;

    width: 35%;
    margin-left: 20px;
    margin-top: 45px;
  }

  .proyecto_1 img
  {
    width: 100%;
    height: 220px;
  }

  .proyecto_1 h3
  {
    font-size: 23px;
    margin-top: 11px;
  }
  .proyecto_1 p
  {
    color: black;
  }

  .proyecto_1 button
  {
    margin-bottom: 10px;
  }

  .navDinamico
  {
    width: 100%;
    height: 60px;
    background-color: black;
    position: fixed;
    top:0;
    text-align: center;
  }

  .navDinamico ul
  {   
     padding-top: 12px;
  }
  

  .navDinamico ul li
  {
    color: white;
    display: inline;
    font-size: 20px;
    font-family: providence-bold;

  }

  .test
  {
    width: 100%;
    height: 130px;
    background-color: red;
    position: relative;
  }